.img{
	background-image: url("fundo.jpg");
	background-repeat: repeat;
	background-size: cover;
}
a{
	color: #FF4400;
 }
 em{
	color: #FF4400;
	position: fixed;
	font-size: 30px;
	right: 250px;
	top: 35px;
	text-decoration: underline;
 }
 em:hover{
	font-size: 35px;
	top: 35px;
	right: 230px;
 }
h1{
	position: fixed;
	font-size: 65px;
	line-height: 0em;
	top: 65px;
	left: 230px;
  }
h1:active{
	color: white;
	text-transform: capitalize;
	text-shadow: 2px 3px red;
  }
h4{
	color: white;
	position: absolute;
	font-size: 30px;
	padding: 10px;
	font-style: italic;
	text-align: center;
	border: 13px double #33FFFF;
	top: 10em;
	right: 0em;
	background-color: grey;
  }
h4:hover{
	color: #000099;	
  }
.imagem{
	position: fixed;
	top: 25px;
	right: 50px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
  }
 .imagem:hover{
	top: 10px;
	right: 40px;
	width: 80px;
	height: 80px;
	border-radius: 20px;
 }
.imagem1{
	position: fixed;
	top: 25px;
	right: 150px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
  }
 .imagem1:hover{
	top: 10px;
	right: 140px;
	width: 80px;
	height: 80px;
	border-radius: 0px;
 }
.foto{
	position: fixed;
	left: 0.5em;
	width: 200px;
	height: 200px;
	border-radius: 0px 50px;
  }
.foto:hover{
	border-radius: 50px 0px;
}